body{
	background: url(background2.jpeg);
}
#positioner{
	
	width: 1000px;
	height: 100%;
	min-height: 400px;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	background-color: #E5E6E9;
	border-radius: 10px;
	opacity: 0.6;
	overflow: hidden;
	padding:20px;
}
.article-class{
	display: block;
	padding-top: 30px;
	margin-top: 30px;
	text-align: center;
	margin-bottom: 50px;
}
.article_lable{
	display: inline-block;
	width: 200px;
	height: 100px;
	line-height: 100px;
	background-color: white;
	text-align: center;
	font-size: 20px;
	background-size: 210px 110px;
	background-position: -7px -8px;
	margin-right: 40px;
	border-radius: 10px;

	transition-duration: 1s;
	/* Firefox 4 */
	-moz-transition-duration:1s;
	/* Safari and Chrome */
	-webkit-transition-duration:1s;
	/* Opera */
	-o-transition-duration:1s;



}
.article_lable:hover{
	display: inline-block;
	width: 210px;
	height: 110px;
	line-height: 100px;
	background-color: white;
	text-align: center;
	font-size: 20px;
	background-size: 210px 110px;
	background-position: -7px -8px;
	margin-right: 40px;
	border-radius: 10px;

	transform:rotate(7deg);
	-ms-transform:rotate(7deg); 	/* IE 9 */
	-moz-transform:rotate(7deg); 	/* Firefox */
	-webkit-transform:rotate(7deg); /* Safari 和 Chrome */
	-o-transform:rotate(7deg);
}

