---

---
<link rel="stylesheet" type="text/css" href="stylesheets/articles.css">

<div class="svg-wrap">
	<svg viewBox="0 0 400 20" xmlns="http://www.w3.org/2000/svg">
		<path id="svg_line" d="m 1.986,8.91 c 55.429038,4.081 111.58111,5.822 167.11781,2.867 22.70911,-1.208 45.39828,-0.601 68.126,-0.778 28.38173,-0.223 56.76079,-1.024 85.13721,-1.33 24.17379,-0.261 48.42731,0.571 72.58115,0.571"></path>
	</svg>
</div>

<div class="demo_line_01"><span>Article List</span></div>

 <div class = "row">
 	<div class = "col-md-12"  >
 		<section class="link-svgline">
 			{% for post in site.categories.Computer Science %}
				<p>
					<a href="{{ post.url }}">{{ post.title }}<svg class="link-svgline"><use xlink:href="#svg_line"></use></svg></a><span class = "article_title_time">{{ post.date | date_to_string }}</span>
				</p>
			{% endfor %}
		 </section>
	
 	</div>
 	
 </div>