<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-04-03-hello-world.md</key>
			<dict>
				<key>lastModification</key>
				<real>483461040.07587099</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-03-markdown-grammer.md</key>
			<dict>
				<key>lastModification</key>
				<real>483461040.075872</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-06-C++class.md</key>
			<dict>
				<key>lastModification</key>
				<real>483461040.07587099</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-04-06-dynamiccast.md</key>
			<dict>
				<key>lastModification</key>
				<real>483461040.075872</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-11-about-dnsmasq.md</key>
			<dict>
				<key>lastModification</key>
				<real>497858848.59554601</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>2016-10-12-sysudns.md</key>
			<dict>
				<key>lastModification</key>
				<real>497898297.29548103</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2016-10-17-real-coding.md</key>
			<dict>
				<key>lastModification</key>
				<real>498409116.57179201</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>2016-10-23-File-upload.md</key>
			<dict>
				<key>lastModification</key>
				<real>498923400.06926399</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>2016-11-06-keng.md</key>
			<dict>
				<key>lastModification</key>
				<real>500139646.38654602</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>2016-12-01-Heap-Sort.md</key>
			<dict>
				<key>lastModification</key>
				<real>502293359.16214001</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>52</integer>
				</dict>
			</dict>
			<key>2016-12-15-DFS-BST.md</key>
			<dict>
				<key>lastModification</key>
				<real>503509215.93997401</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>2016-12-19-toposort-dijkstra-floyd.md</key>
			<dict>
				<key>lastModification</key>
				<real>503806647.13384098</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>89</integer>
				</dict>
			</dict>
			<key>2016-12-21-YCM.md</key>
			<dict>
				<key>lastModification</key>
				<real>504007093.84123802</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>95</integer>
				</dict>
			</dict>
			<key>2016-12-31-HPNY.md</key>
			<dict>
				<key>lastModification</key>
				<real>504892598.36205202</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>99</integer>
				</dict>
			</dict>
			<key>2016-12-5-reinstall-respbian.md</key>
			<dict>
				<key>lastModification</key>
				<real>502560133.17353302</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>56</integer>
				</dict>
			</dict>
			<key>2016-12-8-Neocomplete.md</key>
			<dict>
				<key>lastModification</key>
				<real>502861811.44886702</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>62</integer>
				</dict>
			</dict>
			<key>2017-02-22-add-two-number.md</key>
			<dict>
				<key>lastModification</key>
				<real>509459024.011756</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>104</integer>
				</dict>
			</dict>
			<key>2017-02-24-Teemo-Attacking.md</key>
			<dict>
				<key>lastModification</key>
				<real>509632282.47536302</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>121</integer>
				</dict>
			</dict>
			<key>2017-03-03-Matrix-2D-II.md</key>
			<dict>
				<key>lastModification</key>
				<real>510241570.38824701</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>127</integer>
				</dict>
			</dict>
			<key>2017-03-05-Kth-large.md</key>
			<dict>
				<key>lastModification</key>
				<real>510420724.74251503</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>133</integer>
				</dict>
			</dict>
			<key>2017-03-12-241-add.md</key>
			<dict>
				<key>lastModification</key>
				<real>510988672.878636</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>141</integer>
				</dict>
			</dict>
			<key>2017-03-18-399-dfs-up.md</key>
			<dict>
				<key>lastModification</key>
				<real>511541428.96800601</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>149</integer>
				</dict>
			</dict>
			<key>2017-03-20-241-TCP-chat.md</key>
			<dict>
				<key>lastModification</key>
				<real>511705483.76396197</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>155</integer>
				</dict>
			</dict>
			<key>2017-03-24-sorts.md</key>
			<dict>
				<key>lastModification</key>
				<real>511977550.42615098</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>161</integer>
				</dict>
			</dict>
			<key>2017-03-25-Apprentice.md</key>
			<dict>
				<key>lastModification</key>
				<real>512547604.66577899</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>195</integer>
				</dict>
			</dict>
			<key>2017-03-25-Matrix.md</key>
			<dict>
				<key>lastModification</key>
				<real>512324307.934147</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>188</integer>
				</dict>
			</dict>
			<key>2017-03-27-399-topological-sort.md</key>
			<dict>
				<key>lastModification</key>
				<real>512317371.45146501</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>169</integer>
				</dict>
			</dict>
			<key>2017-03-27-Algorithms.md</key>
			<dict>
				<key>lastModification</key>
				<real>512321413.52437198</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>177</integer>
				</dict>
			</dict>
			<key>2017-03-27-OS.md</key>
			<dict>
				<key>lastModification</key>
				<real>512321364.91986901</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>173</integer>
				</dict>
			</dict>
			<key>2017-03-27-PC-Network-10.md</key>
			<dict>
				<key>lastModification</key>
				<real>514865197.093741</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>268</integer>
				</dict>
			</dict>
			<key>2017-03-27-PC-Network-11 - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>516074266.22803098</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>286</integer>
				</dict>
			</dict>
			<key>2017-03-27-PC-Network-12.md</key>
			<dict>
				<key>lastModification</key>
				<real>516074270.43431699</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>288</integer>
				</dict>
			</dict>
			<key>2017-03-27-PC-Network-13.md</key>
			<dict>
				<key>lastModification</key>
				<real>516678946.21928102</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>298</integer>
				</dict>
			</dict>
			<key>2017-03-27-PC-Network-14.md</key>
			<dict>
				<key>lastModification</key>
				<real>517284776.53855902</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>318</integer>
				</dict>
			</dict>
			<key>2017-03-27-PC-Network-15.md</key>
			<dict>
				<key>lastModification</key>
				<real>517888670.46069503</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>322</integer>
				</dict>
			</dict>
			<key>2017-03-27-PC-Network-16.md</key>
			<dict>
				<key>lastModification</key>
				<real>519098893.37247199</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>364</integer>
				</dict>
			</dict>
			<key>2017-03-27-PC-Network-17.md</key>
			<dict>
				<key>lastModification</key>
				<real>519097979.345994</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>362</integer>
				</dict>
			</dict>
			<key>2017-03-27-PC-Network-18.md</key>
			<dict>
				<key>lastModification</key>
				<real>519703840.23661399</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>382</integer>
				</dict>
			</dict>
			<key>2017-03-27-PC-Network-6.md</key>
			<dict>
				<key>lastModification</key>
				<real>513050197.69740999</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>209</integer>
				</dict>
			</dict>
			<key>2017-03-27-PC-Network-7.md</key>
			<dict>
				<key>lastModification</key>
				<real>513049926.53637803</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>207</integer>
				</dict>
			</dict>
			<key>2017-03-27-PC-Network-8.md</key>
			<dict>
				<key>lastModification</key>
				<real>513655680.36181003</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>234</integer>
				</dict>
			</dict>
			<key>2017-03-27-PC-Network-wa.md</key>
			<dict>
				<key>lastModification</key>
				<real>513051110.46144301</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>215</integer>
				</dict>
			</dict>
			<key>2017-03-30-graph-theory.md</key>
			<dict>
				<key>lastModification</key>
				<real>512569907.745341</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>197</integer>
				</dict>
			</dict>
			<key>2017-04-02-economy - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>513415942.14860803</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>223</integer>
				</dict>
			</dict>
			<key>2017-04-02-economy.md</key>
			<dict>
				<key>lastModification</key>
				<real>512705453.03499001</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>201</integer>
				</dict>
			</dict>
			<key>2017-04-08-bfs-01-matrix.md</key>
			<dict>
				<key>lastModification</key>
				<real>513415942.14861703</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>223</integer>
				</dict>
			</dict>
			<key>2017-04-11-OS-8.md</key>
			<dict>
				<key>lastModification</key>
				<real>513561957.34557903</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>226</integer>
				</dict>
			</dict>
			<key>2017-04-11-OS-9 - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>515376246.07146502</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>275</integer>
				</dict>
			</dict>
			<key>2017-04-11-OS-9.md</key>
			<dict>
				<key>lastModification</key>
				<real>514771315.90503198</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>260</integer>
				</dict>
			</dict>
			<key>2017-04-16-Minimum-Number-of-Arrows-to-Burst.md</key>
			<dict>
				<key>lastModification</key>
				<real>514200353.49943697</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>243</integer>
				</dict>
			</dict>
			<key>2017-04-20-Remove-K-Dights.md</key>
			<dict>
				<key>lastModification</key>
				<real>514370447.88847899</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>258</integer>
				</dict>
			</dict>
			<key>2017-04-27-Algorithms-2.md</key>
			<dict>
				<key>lastModification</key>
				<real>514200846.57018203</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>245</integer>
				</dict>
			</dict>
			<key>2017-04-27-Algorithms-3.md</key>
			<dict>
				<key>lastModification</key>
				<real>514798185.55617398</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>264</integer>
				</dict>
			</dict>
			<key>2017-04-27-climb-stairs.md</key>
			<dict>
				<key>lastModification</key>
				<real>514978742.87570602</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>272</integer>
				</dict>
			</dict>
			<key>2017-05-04-predict-winner.md</key>
			<dict>
				<key>lastModification</key>
				<real>515553601.76387697</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>282</integer>
				</dict>
			</dict>
			<key>2017-05-11-Continue-Subarray-Sum.md</key>
			<dict>
				<key>lastModification</key>
				<real>516759483.70908999</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>304</integer>
				</dict>
			</dict>
			<key>2017-05-18-Remove-Boxes.md</key>
			<dict>
				<key>lastModification</key>
				<real>516777573.40125</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>314</integer>
				</dict>
			</dict>
			<key>2017-05-25-Expression-Add-Operators-ans - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>521475832.64061701</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>385</integer>
				</dict>
			</dict>
			<key>2017-05-8-OS-10.md</key>
			<dict>
				<key>lastModification</key>
				<real>516773634.80094999</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>308</integer>
				</dict>
			</dict>
			<key>2017-05-8-OS-11.md</key>
			<dict>
				<key>lastModification</key>
				<real>517979234.13746601</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>326</integer>
				</dict>
			</dict>
			<key>2017-05-8-OS-12.md</key>
			<dict>
				<key>lastModification</key>
				<real>519005254.094935</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>332</integer>
				</dict>
			</dict>
			<key>2017-05-8-OS-9.md</key>
			<dict>
				<key>lastModification</key>
				<real>516167843.68842399</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>294</integer>
				</dict>
			</dict>
			<key>2017-06-02-Mineweeper.md</key>
			<dict>
				<key>lastModification</key>
				<real>519017929.11246598</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>348</integer>
				</dict>
			</dict>
			<key>2017-06-09-Find-Largest-in-Tree-row.md</key>
			<dict>
				<key>lastModification</key>
				<real>519018085.45883</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>356</integer>
				</dict>
			</dict>
			<key>2017-06-17-important-question.md</key>
			<dict>
				<key>lastModification</key>
				<real>519636590.66271597</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>378</integer>
				</dict>
			</dict>
			<key>2017-06-27-WA.md</key>
			<dict>
				<key>lastModification</key>
				<real>519611180.93929702</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>373</integer>
				</dict>
			</dict>
			<key>2017-07-10-NP.md</key>
			<dict>
				<key>lastModification</key>
				<real>521476575.84441799</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>386</integer>
				</dict>
			</dict>
			<key>2017-08-31-Ksum.md</key>
			<dict>
				<key>lastModification</key>
				<real>525861747.87742901</real>
				<key>version</key>
				<dict>
					<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
					<integer>393</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>513009602.76474202</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-04-03-hello-world.md</string>
		</array>
		<array>
			<string>2017-02-22-add-two-number.md</string>
		</array>
		<array>
			<string>2017-03-12-241-add.md</string>
		</array>
		<array>
			<string>2017-03-20-241-TCP-chat.md</string>
		</array>
		<array>
			<string>2017-03-25-Matrix.md</string>
		</array>
		<array>
			<string>2017-03-25-Apprentice.md</string>
		</array>
		<array>
			<string>2017-03-18-399-dfs-up.md</string>
		</array>
		<array>
			<string>2017-03-27-399-topological-sort.md</string>
		</array>
		<array>
			<string>2017-03-24-sorts.md</string>
		</array>
		<array>
			<string>2017-03-05-Kth-large.md</string>
		</array>
		<array>
			<string>2017-03-03-Matrix-2D-II.md</string>
		</array>
		<array>
			<string>2017-02-24-Teemo-Attacking.md</string>
		</array>
		<array>
			<string>2016-12-31-HPNY.md</string>
		</array>
		<array>
			<string>2017-03-27-OS.md</string>
		</array>
		<array>
			<string>2017-06-27-WA.md</string>
		</array>
		<array>
			<string>2017-04-11-OS-8.md</string>
		</array>
		<array>
			<string>2017-04-11-OS-9.md</string>
		</array>
		<array>
			<string>2017-05-8-OS-9.md</string>
		</array>
		<array>
			<string>2017-05-8-OS-10.md</string>
		</array>
		<array>
			<string>2017-05-8-OS-11.md</string>
		</array>
		<array>
			<string>2017-05-8-OS-12.md</string>
		</array>
		<array>
			<string>2017-04-11-OS-9 - 2.md</string>
		</array>
		<array>
			<string>2017-03-27-Algorithms.md</string>
		</array>
		<array>
			<string>2017-04-27-Algorithms-2.md</string>
		</array>
		<array>
			<string>2017-04-27-Algorithms-3.md</string>
		</array>
		<array>
			<string>2017-03-27-PC-Network-6.md</string>
		</array>
		<array>
			<string>2017-03-27-PC-Network-18.md</string>
		</array>
		<array>
			<string>2017-03-27-PC-Network-7.md</string>
		</array>
		<array>
			<string>2017-03-27-PC-Network-8.md</string>
		</array>
		<array>
			<string>2017-03-27-PC-Network-10.md</string>
		</array>
		<array>
			<string>2017-03-27-PC-Network-11 - 2.md</string>
		</array>
		<array>
			<string>2017-03-27-PC-Network-12.md</string>
		</array>
		<array>
			<string>2017-03-27-PC-Network-13.md</string>
		</array>
		<array>
			<string>2017-03-27-PC-Network-14.md</string>
		</array>
		<array>
			<string>2017-03-27-PC-Network-15.md</string>
		</array>
		<array>
			<string>2017-03-27-PC-Network-16.md</string>
		</array>
		<array>
			<string>2017-03-27-PC-Network-17.md</string>
		</array>
		<array>
			<string>2017-03-27-PC-Network-wa.md</string>
		</array>
		<array>
			<string>2016-12-21-YCM.md</string>
		</array>
		<array>
			<string>2016-12-19-toposort-dijkstra-floyd.md</string>
		</array>
		<array>
			<string>2016-12-15-DFS-BST.md</string>
		</array>
		<array>
			<string>2016-12-8-Neocomplete.md</string>
		</array>
		<array>
			<string>2016-12-5-reinstall-respbian.md</string>
		</array>
		<array>
			<string>2016-12-01-Heap-Sort.md</string>
		</array>
		<array>
			<string>2016-11-06-keng.md</string>
		</array>
		<array>
			<string>2016-10-23-File-upload.md</string>
		</array>
		<array>
			<string>2016-10-17-real-coding.md</string>
		</array>
		<array>
			<string>2016-10-12-sysudns.md</string>
		</array>
		<array>
			<string>2016-10-11-about-dnsmasq.md</string>
		</array>
		<array>
			<string>2016-04-06-C++class.md</string>
		</array>
		<array>
			<string>2016-04-06-dynamiccast.md</string>
		</array>
		<array>
			<string>2016-04-03-markdown-grammer.md</string>
		</array>
		<array>
			<string>2017-03-30-graph-theory.md</string>
		</array>
		<array>
			<string>2017-04-02-economy.md</string>
		</array>
		<array>
			<string>2017-04-02-economy - 2.md</string>
		</array>
		<array>
			<string>2017-04-08-bfs-01-matrix.md</string>
		</array>
		<array>
			<string>2017-04-16-Minimum-Number-of-Arrows-to-Burst.md</string>
		</array>
		<array>
			<string>2017-04-20-Remove-K-Dights.md</string>
		</array>
		<array>
			<string>2017-04-27-climb-stairs.md</string>
		</array>
		<array>
			<string>2017-05-04-predict-winner.md</string>
		</array>
		<array>
			<string>2017-05-11-Continue-Subarray-Sum.md</string>
		</array>
		<array>
			<string>2017-05-18-Remove-Boxes.md</string>
		</array>
		<array>
			<string>2017-08-31-Ksum.md</string>
		</array>
		<array>
			<string>2017-07-10-NP.md</string>
		</array>
		<array>
			<string>2017-05-25-Expression-Add-Operators-ans - 2.md</string>
		</array>
		<array>
			<string>2017-06-02-Mineweeper.md</string>
		</array>
		<array>
			<string>2017-06-09-Find-Largest-in-Tree-row.md</string>
		</array>
		<array>
			<string>2017-06-17-important-question.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
			<integer>394</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>14cf892ee69eb6e1e6fc7c8358b24423140eba39fe51ed22614f4538d10ce24c</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
