body div{
	/*border: 1px solid black;*/
}

body{
	background-color: black;
}

/*#top_shadow{
	background-color: transparent;
	height: 200px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 100px 100px 40px 40px ;
	box-shadow:0 0 50px 30px #EEF2FE;
}*/

#top{
	height: 240px;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 150px 150px 50px 60px ;
	background-color: #EEF2FE;
	box-shadow:0 0 45px 30px #EEF2FE;

}
/*
#top:after{
  	display: block;
  	content:'';
  	height: 300px;
	width: 800px;
 	border-radius: 100px 100px 60px 40px ;
 	box-shadow:0 200px 100px 10px #EEF2FE;
}
*/
#Title{
	margin-top: 60px;
	color: white;
	text-align: center;
	font-size: 60px;
	font-family: Brush Script MT;
}
#Title span{
	margin-top: 60px;
	color: white;
	margin-left: 20px;
	text-align: center;
	font-size: 15px;
	font-family: STHeiti;
}
#navigation{
	position: relative;
	margin-top: 30px;
	height: 100px;
	width: 550px;
	margin-right: auto;
	margin-left: auto;
}
#navigation div{
	position: absolute;
	width: 140px;
	height: 40px;
	color: white;
	font-size: 20px;
	font-style: bold;
	display: inline-block;
	text-align: center;


	transition: 0.3s;
	/*background-color: white;*/
}

#navigation div:nth-child(1){
	left: 10px;
}

#navigation div:nth-child(2){
	left: 240px;
}

#navigation div:nth-child(3){
	left: 440px;
}
#navigation div:hover{
	font-size: 24px;
	/*text-shadow:2px 2px 10px #EEF2FE;
	text-shadow:-2px 2px 10px white;
	text-shadow:-2px -5px 10px #EEF2FE;*/
	text-shadow:6px 10px 10px #EEF2FE;
	/*background-color: white;*/
}


#bottom{
	height: 100px;
	width: 1400px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px 10px 280px 280px ;
	background-color: #EEF2FE;
	box-shadow:0 0 40px 30px #EEF2FE;
}