<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  <body>

    <main class="content container">
      {{ content }}
    </main>
      <div class="love content container">
        © 2018 JIAWEI &nbsp;&nbsp; <a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备18035774号</a>
      </div>
    {% include sidebar.html %}
    <<!-- script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261413697'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1261413697' type='text/javascript'%3E%3C/script%3E"));</script>
    <script src="{{ site.baseurl }}/public/js/drawer.js"></script> -->


  </body>
</html>
